<h2 style="color:#1adab1;display:block;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:18px;font-weight:bold;line-height:130%;margin:16px 0 8px;text-align:left">Customer details</h2>
<ul>
  <li>
    <strong>Email:</strong> <span style="color:#505050;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif"><a href="mailto:<%= @order.email %>" target="_blank"><%= @order.email %></a></span>
  </li>
  <li>
    <strong>Phone:</strong> <span style="color:#505050;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif"><%= @order.bill_address.phone %></span>
  </li>
</ul>
<table cellspacing="0" cellpadding="0" style="width:100%;vertical-align:top" border="0"><tbody><tr>
  <td valign="top" width="50%">
    <h3 style="color:#1adab1;display:block;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:16px;font-weight:bold;line-height:130%;margin:16px 0 8px;text-align:left">Billing address</h3>
    <% bill_address = @order.bill_address %>
    <p style="color:#737373;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;margin:0 0 16px"><%= "#{bill_address.firstname} #{bill_address.lastname}" %><br><%= bill_address.company %>
      <br><%= bill_address.address1 %><br><%= bill_address.city %><br><%= bill_address.state.name %><br><%= bill_address.zipcode %></p>
  </td>
  <td valign="top" width="50%">
    <h3 style="color:#1adab1;display:block;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:16px;font-weight:bold;line-height:130%;margin:16px 0 8px;text-align:left">Shipping address</h3>
    <% ship_address = @order.ship_address %>
    <p style="color:#737373;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;margin:0 0 16px"><%= "#{ship_address.firstname} #{ship_address.lastname}" %><br><%= ship_address.company %>
      <br><%= ship_address.address1 %><br><%= ship_address.address2 %><br><%= ship_address.city %><br><%= ship_address.state.name %><br><%= ship_address.zipcode %></p>
  </td>
</tr></tbody></table>