<table class="row header">
  <tr>
    <td>
      <p>
        Order #<%= @shipment.order.number %> has been shipped
      </p>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.arrival') %> Please contact us at <a href="mailto:info@krissorbie.com" target="_blank">info@krissorbie.com</a> if you have any questions or concerns.
      </p>
      <table class="container">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <%= render collection: @shipment.manifest.map(&:line_item), partial: 'spree/shared/mailer_line_item', as: :line_item %>
            </table>
          </td>
        </tr>
      </table>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.shipping_method_html', shipping_method: @shipment.shipping_method.name) %>
      </p>
      <% if @shipment.tracking %>
        <p>
          <%= Spree.t('shipment_mailer.shipped_email.track_information_html', tracking: @shipment.tracking) %>
        </p>
      <% end %>
      <% if @shipment.tracking_url %>
        <p>
          <%= Spree.t('shipment_mailer.shipped_email.track_link_html', url: link_to(@shipment.tracking_url, @shipment.tracking_url)).html_safe %>
        </p>
      <% end %>
      <% if @shipment.note %>
        <p style="margin-top: 20px;">
          <b>Additional note from the Kris Sorbie team:</b><br/>
          <%= @shipment.note.html_safe %>
        </p>
      <% end %>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.appreciate') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
