<%= form_for :order, :url => populate_orders_path, :remote => true, html: {:id => 'cart_form_with_email'} do |f| %>

    <div id="" data-hook="product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

      <label for="name"><%= t('spree.gift_cards.sender_name')%></label>
      <%= text_field_tag "options[gift_card_details][purchaser_name]", '', class: 'required' %>

      <label for="phone"><%= t('spree.gift_cards.recipient_name')%></label>
      <%= text_field_tag "options[gift_card_details][recipient_name]", '', class: 'required' %>

      <label for="email"><%= t('spree.gift_cards.recipient_email')%></label>
      <%= email_field_tag "options[gift_card_details][recipient_email]", '', class: 'required'%>

      <label for="message"><%= t('spree.gift_cards.your_message')%></label>
      <%= text_area_tag "options[gift_card_details][gift_message]", '', class: 'required' %>

      <label for="message"><%= t('spree.gift_cards.language')%></label>
      <%= select_tag "options[gift_card_details][locale]", options_for_select([['English', 'en']], "MasterCard"), class: 'required' %>


      <% if @product.variants_and_option_values(current_currency).any? %>

          <% if @product.has_variants? %>
              <div class="variants">

                <div class="product-quantity clear">
                  <%= hidden_field_tag :quantity, 1, :class => '', :min => 1, :max => 1%>
                </div>

                <select name="variant_id">
                  <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
                      <option value="<%= variant.id %>">
                        <%= variant.display_price  %>
                      </option>
                  <% end%>
                </select>

              </div>
          <% end%>
      <% end %>

      <% if @product.price_in(current_currency) and !@product.price.nil? %>

          <div class="status hidden error" id="vgc_status_msg"></div>

          <div class="clear">
            <div class="add-to-cart" data-hook="add-to-cart-button">

              <%= button_tag :class => 'button large', :id => 'add-to-cart-button', :type => :submit, data: {disable_with: "<i class='fa fa-refresh fa-spin'></i> #{t('products.adding')}".html_safe } do %>
                  <i class="fa fa-shopping-cart"></i>
                  <%= Spree.t(:buy_now)%>
              <% end %>

            </div>
          </div>
      <% end %>
    </div>
<% end %>