<p style="margin:0 0 16px">
  Hope you enjoy this <a href="<%= root_url %>" target="_blank">Krissorbie.com</a> E-Gift card!
</p>
<div>
  <div style="clear:both;max-width:500px;margin:0 auto;margin-bottom:15px;border:5px solid #f7f4f4;padding:5px;">
    <div style="max-width:100%;height:auto;margin:0 auto;display:block;">
      <img src="https://ci4.googleusercontent.com/proxy/SI5o7OJ5OUA3VdUa2z5wSTHyAHzKIQqTNr5fl2NUg16ySokoouhnHtiR7QX3Ye2XDaCbqSw8rJfX9tqyzblFuNlv9qKkgrTISb5O6qvDCqxTn4zCObQHfzyZZAfVdY03LxpqTBlvdz3rYjNGhNeu=s0-d-e1-ft#http://6d4.ca5.myftpupload.com/wp-content/uploads/2016/01/giftcertificates2-960x960-1.jpg" alt="The main image for the gift card" title="The main image for the gift card" style="border:none;display:block;font-size:14px;font-weight:bold;height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize;max-width:100%;margin:0 auto;" tabindex="0">
      <div class="a6S" dir="ltr" style="opacity: 1; left: 846px; top: 727px;">
        <div role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
          <div></div>
        </div>
      </div>
    </div>
    <div style="overflow:hidden;padding:5px 0;display:table;width:100%">
      <div style="text-align:right;padding:10px;font-size:25px;font-weight:bold;display:inline-block;width:50%;float:right;">
        <span>$<%= number_with_precision(@gift_card.amount, precision: 2) %></span>
      </div>
    </div>
    <div style="padding:10px;color:#9b9b9b;text-align:center;border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;">
      <%= Spree.t('gift_card_mailer.gift_card_email.your_gift_card_code') %>:
      <span style="font-weight:bold;display:block;font-size:18px"><%= @gift_card.redemption_code %></span>
    </div>
    <div style="padding:10px;color:#9b9b9b;text-align:left;border-top:1px solid #e6e6e6;">
      <b>From:</b> <%= @gift_card.purchaser.full_name %><br/>
      <%= @gift_card.gift_message %>
    </div>
  </div>
</div>
<div style="margin:0 auto;margin-bottom:15px;text-align:center">
  <a href="https://new.krissorbie.com/my-account/giftcard" style="font-size: 11px; line-height: 61px; font-weight: 800; color: #000001; height: 61px; border: none; background-color: #29cbc8; text-decoration: none; width: 300px; display: block;" target="_blank">
    Apply to your Krissorbie.com Account
  </a>
  <p>Don't have a <a href="<%= root_url %>" target="_blank">Krissorbie.com</a> account? Click <a href="https://new.krissorbie.com/my-account/giftcard" target="_blank">here</a> to sign-up and redeem. </p>
  <p>Once applied to your <a href="<%= root_url %>" target="_blank">Krissorbie.com</a> account, the entire amount will be added to your E-Gift card balance. Your E-Gift card balance can't be transferred to other accounts, used to buy other E-Gift cards, or, except as required by law, redeemed for cash.</p>
</div>
<div style="margin:0 auto;margin-bottom:15px;text-align:center">
  <a href="https://new.krissorbie.com/my-account/giftcard" style="color:#1adab1;font-weight:normal;text-decoration:underline;margin:0 auto;margin-bottom:15px;text-align:center" target="_blank"><%= Spree.t('gift_card_mailer.gift_card_email.shop_now') %></a>
</div>