<%= Spree.t('gift_card_mailer.gift_card_email.received_gift_card_from', recipient_name: @gift_card.recipient_name ) %>
<%= Spree.t('gift_card_mailer.gift_card_email.shop_at') %> <a href="<%= root_url %>" target="_blank">krissorbie.com</a>

<%= Spree.t('gift_card_mailer.gift_card_email.message') %>:
<%= @gift_card.gift_message %>

<%= Spree.t('gift_card_mailer.gift_card_email.amount') %>: $<%= number_with_precision(@gift_card.amount, precision: 2) %>
<%= Spree.t('gift_card_mailer.gift_card_email.your_gift_card_code') %>: <%= @gift_card.redemption_code %>

<a href="<%= root_url %>" target="_blank"><%= Spree.t('gift_card_mailer.gift_card_email.shop_now') %></a>
